<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DjangoGirlsTutorial</title>
</head>
<body>
    <div>
        <h1><a href="/">DjangoGirlsTutorial</a></h1>
    </div>

    <div>
        <p>published: 11.16.2018, 2:47</p>
        <h2><a href="">My first Post</a></h2>
        <p>words....</p>
    </div>

    <div>
        <p>published: 11.16.2018, 2:50</p>
        <h2><a href="">My second Post</a></h2>
        <p>more words....</p>
    </div>

</body>
</html>